/*********************************************************TAG SELECTORS******************************************************************/
body{
  font-family: 'Montserrat', sans-serif;
}

p{
  color: #8f8f8f;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/******************************************************CLASS SELECTORS******************************************************************/
.container-fluid{
  padding: 3% 10% 7%;
}

/*Navigation Bar*/
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding : 0 0 4.5rem;
}

.nav-item{
  padding: 0 2rem;
}

.nav-link{
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 1.2rem;
}

/*Download buttons*/
.download-button{
  margin: 5% 3% 5% 0;
}

/*Title Image*/
.title-image{
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/*Features*/
.feature-icons{
  color: #ef8172;
  margin: 1rem;
}

.feature-icons:hover{
  color: #ff4c68;
}

.feature-box{
  padding: 5%;
  text-align: center;
}

/*Testimonials Section*/
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}

.carousel-item{
  padding: 5% 24%;
  text-align: center;
}

.carousel-control-prev{
  padding: 0 0 0 10%;
}

.carousel-control-next{
  padding: 0 10% 0 0;
}

/* Press Section */
.press-img{
  width: 15%;
  padding: 0 1.5%;
}

/* Pricing Section */
.pricing-card{
  padding: 2% 3%;
}

/*cta section*/
.cta-h3{
  color: white;
  font-size: 2.5rem;
}

/*Footer Section*/
.footer-icons{
  padding: 2%;
}

/*************************************************************ID SELECTORS************************************************************/
/*Title Image*/
#title{
  background-color: #ff4c68;
  color: white;
}

/* Features Section */
#features{
  padding: 5% 10%;
  background-color: white;
  position: relative;
  z-index: 1;
}

/* Testimonials Section */
#testimonials{
  background-color: #ef8172;
  color: white;
}

/* Press Section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding: 5% 5%;
}

/* Pricing Section */
#pricing{
  padding: 7% 15%;
  text-align: center;
}

/*cta section*/
#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 27%;
}

/*Footer Section*/
#footer{
  text-align: center;
  padding: 7% 20% 3%;
}


/*Media Query*/
@media (max-width:1000px) {

  .title-image{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }

}
